/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* !reset */
/* CSS from hints file */
html {
    font-family: 'Montserrat', sans-serif;

    background-color: #bbdede;
}
h1 {font-size: 40px; font-family: 'Bebas Neue', cursive; text-align: center;}
h2 {font-size: 30px;font-family: 'Bebas Neue', cursive; text-align: center;}
h3 {font-size: 25px;font-family: 'Bebas Neue', cursive; text-align: center;}
h1,h2 {margin: 15px 0px;}
nav a, nav span {font-size: 20px; font-family: 'Bebas Neue', cursive;}
menu li{font-size: 20px; font-family: 'Bebas Neue', cursive;}
#social li {font-size: 20px; font-family: 'Bebas Neue', cursive;}
footer{font-size: 20px; font-family: 'Bebas Neue', cursive;}
p, dd, li, nav, input, dt {font-size: 16px;font-family: 'Montserrat', sans-serif; font-weight: 400;}
dt {font-weight: bold;}
small{font-size: .75em;}
a {text-decoration: none; cursor: pointer;}

/* Mobile first */

body {
    width: 414px;
    background-color: #f2f2f2;
    color: #2f2f2f;
    margin: 0 auto;
}
img {height: auto; width: 100%;}

header{
    background-color:#f2f2f2;
    margin-top: 169px;
}

menu {
    display: flex;
    justify-content: space-around;
}
menu li{
list-style: none;
}
menu li a{
    color:#eb5428;
    display: flex;
    flex-flow:column-reverse nowrap;
    align-items: center;
    padding: 5px;
}
section p {padding: 10px;}
dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left:10px;
    width: 220px;
}

section#ingredients ul {
    list-style-type: disc;
    padding: 20px;
}

section#ingredients ul li {
    padding: 5px 0px 5px;
}

section#directions ol {
    padding: 20px;
    padding-left: 25px;
    list-style: decimal;
}

section#directions ol li {
    margin-bottom: 20px;
}
section#directions ol li:last-child{
    margin-bottom: 0px;
}

aside#sides {
    background-color: #7abfbf;
    padding: 15px 0px;
}
#sides section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}
#sides section img {
    order: 1;
    grid-row: span 2;
    width: 65%;
    padding: 10px;
    margin: 0 auto;
}
#sides section h3 {
    order: 2;
    text-align: left;
}
#sides section div {
    order: 3;
    text-align: left;
}

#sides section div p {
    padding: 0px;
}
b {font-weight: bold;}
nav .nav-menu {display: none;}
nav {
    position: absolute;
    width: 414px;
    top: 0;
    z-index:1;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #f2f2f2;
}
nav h2 {
    display: none;
}

label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;

}
input#dropdown {
    display: none;
}
input:checked ~ ul {
    display: block;
}
nav label {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #fff;
    filter: drop-shadow(0px 3px 3px #c3c3c3);
}

#home {
    background-color: #eb5428;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    filter: drop-shadow(0px 3px 3px #c3c3c3);
}
#signup svg {
    stroke: #eb5428;
}
a#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #fff;
    color: #2f2f2f;
    filter: drop-shadow(0px 3px 3px #c3c3c3);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 8px;
  }
  
  input[type="text"] {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
  }
  
  button[type="submit"] {
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px;
    border: 2px solid #eb5427;
    grid-column: span 3;
    margin: 20px 40px;
}
.search-bar h3 {
    display: none;
}
.search-bar button {
    background-color: #eb5428;
    border: none;
}
.search-bar button svg {
    stroke: #fff;
}

section.connect ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section.connect ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
    color: #eb5427;
    font-weight: bold;
}
section.connect{
    padding: 30px 10px;
}
footer h2,footer h3 {
    display: none;
}
footer p {display: none;}
footer img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
small {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px 25px 0px;
}
a#home span {
    display: none;
}
a#home {
    padding: 10px 0px;
}
.star-group svg{stroke:#f2f2f2; fill: #eb5428; }

@media screen and (min-width: 768px) {
    body{width: 768px;}
    nav{width: 768px;}
}

@media screen and (min-width: 1280px) {
    body{width: 1280px;}
    nav{width: 1280px;}
  }

